body{
    margin: 0;
    background: #eaeaea;
}

a{
    text-decoration: none;
    color: inherit;
}

.banner .main_cover{
    background: url('../images/cover.png');
    height: 465px;
    background-size: cover;
    background-position: center center;
    position: relative;
}